// solarized

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$width: 1280px;

#preso, .slide {
  width: $width;
  height: 800px;

  background-color: $base3;
}

@import 'compass';

#timeInfo {
  @include float-right;
}

pre.sh_sourceCode, .sh_yaml, .sh_haml {
  background-color: $base03;

  @include single-box-shadow($base02, 0, 0, 5px);

  code {
    color: $base3;
  }

  .sh_string {
    color: $red;
  }

  .sh_symbol {
    color: $orange;
  }

  .sh_comment {
    color: $base01;
  }

  .sh_keyword {
    color: $yellow;
  }

  .sh_number {
    color: $cyan;
  }

  .sh_function {
    color: $green;
  }
}

#footer {
  width: $width - 20px;
}

body {
  color: $base03;
  background-color: $base1;
}

h1 {
  color: $base03;
}

h2 {
  color: $base02;
}

